<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EkalingaDb"
			  connectionString="Server=srv1237.hstgr.io;Port=3306;Database=u621755393_CDestributions;User ID=u621755393_destribution;Password=Dssc@2026;"
			 providerName="MySqlConnector" />
	</connectionStrings>
</configuration>

<!-- ONLINE - connectionString="Server=srv1237.hstgr.io;Port=3306;Database=u621755393_CDestributions;User ID=u621755393_destribution;Password=Dssc@2026;" -->
<!-- OFFLINE - connectionString="Server=localhost;Port=3306;Database=ekalinga_db;User ID=root;Password=password123;SslMode=None;" -->
